.leftArrow{
    position: absolute;
    left: 0px;
    top: 80px;
    z-index: 2;
    cursor: pointer;
}

.left{
    background-color: var(--color-primary);
    color: var(--color-white);
    border-radius: 50%;
    font-size: 30px;
}
.rightNArrow{
    cursor: pointer;
    position: absolute;
    right: 0px;
    top: 80px;
    z-index: 2;
}

.right{
    background-color: var(--color-primary);
    color: var(--color-white);
    border-radius: 50%;
    font-size: 30px;
}
