.wrapper{
    position: relative;
}

.leftNavigation{
    position: absolute;
    left: -10px;
    top: 40px;
    transform: translateY(-50%);
    z-index: 3;
}

.rightNavigation{
    position: absolute;
    right: -10px;
    top: 40px;
    transform: translateY(-50%);
    z-index: 3;
}