.accordion{
    background-color: var(--color-black);
    color: var(--color-white);
    width: 80%;
    border: 1px solid var(--color-white);
    border-radius: 10px;
    margin-top: 20px;
    
}

.accordionWrapper{
    width: 100%;
    padding: 10px 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.details{
    background-color: var(--color-white);
    color: var(--color-black);
    width: 100%;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
.nav{
    color: var(--color-primary);
    font-size: 50px;
}